<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <!-- start Serilog settings-->
    <add key="SerilogFilePath" value="C:\Log\Serilog\application.log"/>
    <!-- splunk url -->
    <add key="SerilogSplunkUrl" value=""/>
    <!-- token used with the splunk url-->
    <add key="SplunkEventCollectorToken" value=""/>
    
    <!--Write tcp or udp in the setting-->
    <add key="SerilogSplunkViaTcpOrUdp" value=""/>
    <!-- The port which the tcp or udp connection uses-->
    <add key="SplunkPort" value=""/>
    <!-- The hostname which the tcp or udp connection uses-->
    <add key="SplunkHost" value=""/>
    
    <!-- end Serilog settings-->
  </appSettings>
</configuration>