<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <!-- start Serilog settings-->
    <add key="SerilogFilePath" value=""/>
    <!-- splunk url -->
    <add key="SerilogSplunkUrl" value="http://hybelkanin3:8088/services/collector"/>
    <!-- token used with the splunk url-->
    <add key="SplunkEventCollectorToken" value="BAE03F4A-0F99-4C1B-9CD5-17D015CE86DB"/>
    
    <!--Write tcp or udp in the setting-->
    <add key="SerilogSplunkViaTcpOrUdp" value=""/>
    <!-- The port which the tcp or udp connection uses-->
    <add key="SplunkPort" value=""/>
    <!-- The hostname which the tcp or udp connection uses-->
    <add key="SplunkHost" value=""/>
    
    <!-- end Serilog settings-->
  </appSettings>
</configuration>