<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hl7.Fhir.DSTU2" version="0.92.1" targetFramework="net452" />
  <package id="Hl7.Fhir.Support" version="0.4.2" targetFramework="net452" />
  <package id="Hl7.FhirPath" version="0.4.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Serilog" version="2.4.0" targetFramework="net452" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Literate" version="2.1.0" targetFramework="net452" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Splunk" version="2.2.1" targetFramework="net452" />
  <package id="Splunk.LoggingFramework.Common" version="1.6.1" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net452" />
</packages>